<div id="wrapper">
	<div class="overlay"></div>
	<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    	<ul class="nav sidebar-nav">
        	<li class="sidebar-brand">
            	<a href="#">Acceuil</a>
                <li>
                    <a href="index.php?r=duel&action=create">Crée un duel</a>
                </li>
                <li>
                    <a href="#">Voir mes duels</a>
                </li>
                <li>
                    <a href="#">Classement</a>
                </li>
                <li>
                    <a href="index.php?r=login&action=logout">Déconnexion</a>
                </li>
            </li>    
        </ul>
	</nav>
	<div id="page-content-wrapper">
    	<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        	<span class="hamb-top"></span>
        	<span class="hamb-middle"></span>
    		<span class="hamb-bottom"></span>
        </button>
    </div>
</div>
<script>
$(document).ready(function () {

	$('#sidebar-wrapper').css("height",document.body.scrollHeight+"px");
	
	var trigger = $('.hamburger'),
		overlay = $('.overlay'),
	    isClosed = false;
    
	trigger.click(function () {
		hamburger_cross();      
	});

	function hamburger_cross() {
		if (isClosed == true) {          
	    	overlay.hide();
	        trigger.removeClass('is-open');
	        trigger.addClass('is-closed');
	        isClosed = false;
	      } else {   
	        overlay.show();
	        trigger.removeClass('is-closed');
	        trigger.addClass('is-open');
	        isClosed = true;
	      }
	  }
	  
	$('[data-toggle="offcanvas"]').click(function () {
		$('#wrapper').toggleClass('toggled');
	});  
});
</script>