{% include 'base/header.html' %}
	<header>
		<div class="row">
			<div class="col-sm-10"><a href=""><i class="fas fa-home"></i> Duel</div></a>
			<div class="col-sm-2">
				<div class="row right_header">
					<div class="col-sm-6"><a href=""><i class="fas fa-cog"></i> Profil</a></div>
					<div class="col-sm-6"><a href=""><i class="fas fa-times"></i> Quit</a></div>
				</div>
			</div>
		</div>
	</header>
	<div class="global">
		<div class="row">
			<div class="col-sm">
			<img src="..." alt="..." class="img-thumbnail">Damien</div>
			<div class="col-sm">Vs</div>
			<div class="col-sm">Noel</div>
		</div>
	</div>
{% include 'base/footer.html' %}