body a {
	color:#2c2d30;
}
body a:hover {
	text-decoration:none;
}
body .container, body .global{
	background-color:#f9f9f9;
}
html {
	color:#2c2d30;
	background:#f9f9f9;
}
header ul, header li{
	display:inline;
}
.header_left{
	float:right;
}
header {
	padding:20px;
	background:#fff;
	box-shadow : 0 1px 4px rgba(0,0,0,.15);
	font-size:1.5em;
	z-index:0;
}
body .global{
	box-shadow : inset 0px 2px 3px 0px rgba(0,0,0,.15);
	text-align:center;
}
.container {
	padding-top:20px;
}